$theme_fg_color: #B6B7B9;
$theme_text_color: #B6B7B9;
$theme_bg_color: hsl(206, 12%, 12%);
$theme_base_color: #1c2124;
$theme_selected_bg_color: #F67E7D;
$theme_selected_fg_color: #f7f7f7;
$insensitive_bg_color: #1b1f22;
$insensitive_fg_color: #686b6d;
$insensitive_base_color: #1c2124;
$theme_unfocused_fg_color: #686b6d;
$theme_unfocused_text_color: #B6B7B9;
$theme_unfocused_bg_color: #1A1E21;
$theme_unfocused_base_color: #1e2327;
$theme_unfocused_selected_bg_color: #F67E7D;
$theme_unfocused_selected_fg_color: #f7f7f7;
$borders: #0a0c0d;
$unfocused_borders: #0c0e0f;
$warning_color: #f47d49;
$error_color: #f46665;
$success_color: #0096b1;
$fg_color: #B6B7B9;
$text_color: #B6B7B9;
$bg_color: #1A1E21;
$base_color: #1c2124;
$selected_bg_color: #F67E7D;
$selected_fg_color: #f7f7f7;
$unfocused_fg_color: #686b6d;
$unfocused_text_color: #B6B7B9;
$unfocused_bg_color: #1A1E21;
$unfocused_base_color: #1e2327;
$unfocused_selected_bg_color: #F67E7D;
$unfocused_selected_fg_color: #f7f7f7;
$wm_unfocused_title: #686b6d;
$wm_bg_b: #1A1E21;
$wm_button_hover_color_b: #1A1E21;
$content_view_bg: #1c2124;
$text_view_bg: #1c2124;
$budgie_tasklist_indicator_color: #F67E7D;
$budgie_tasklist_indicator_color_active: #F67E7D;
$placeholder_text_color: #98999c;
$strawberry_100: #ff8c82;
$strawberry_300: #ed5353;
$strawberry_500: #c6262e;
$strawberry_700: #a10705;
$strawberry_900: #7a0000;
$orange_100: #ffc27d;
$orange_300: #ffa154;
$orange_500: #f37329;
$orange_700: #cc3b02;
$orange_900: #a62100;
$banana_100: #fff394;
$banana_300: #ffe16b;
$banana_500: #f9c440;
$banana_700: #d48e15;
$banana_900: #ad5f00;
$lime_100: #d1ff82;
$lime_300: #9bdb4d;
$lime_500: #68b723;
$lime_700: #3a9104;
$lime_900: #206b00;
$mint_100: #89ffdd;
$mint_300: #43d6b5;
$mint_500: #28bca3;
$mint_700: #0e9a83;
$mint_900: #007367;
$blueberry_100: #8cd5ff;
$blueberry_300: #64baff;
$blueberry_500: #3689e6;
$blueberry_700: #0d52bf;
$blueberry_900: #002e99;
$bubblegum_100: #fe9ab8;
$bubblegum_300: #f4679d;
$bubblegum_500: #de3e80;
$bubblegum_700: #bc245d;
$bubblegum_900: #910e38;
$grape_100: #e4c6fa;
$grape_300: #cd9ef7;
$grape_500: #a56de2;
$grape_700: #7239b3;
$grape_900: #452981;
$cocoa_100: #a3907c;
$cocoa_300: #8a715e;
$cocoa_500: #715344;
$cocoa_700: #57392d;
$cocoa_900: #3d211b;
$silver_100: #fafafa;
$silver_300: #d4d4d4;
$silver_500: #abacae;
$silver_700: #7e8087;
$silver_900: #555761;
$slate_100: #95a3ab;
$slate_300: #667885;
$slate_500: #485a6c;
$slate_700: #273445;
$slate_900: #0e141f;
$black_100: #666;
$black_300: #4d4d4d;
$black_500: #333;
$black_700: #1a1a1a;
$black_900: #000;