$icons: "home/winter/.config/eww/icons/";
@import "colors.scss";

$bg-window: rgba($theme_bg_color, .4);
$gradient: linear-gradient(to right, #F67E7D, #E1DD8F);

$background-hover-alpha: rgba(#000, .5);
$text-base: #ffffff;
$text-muted: #8f92a6;
$text-inverse: #979bb0;

$bg-accent: $theme_selected_bg_color;
$bg-base: rgba(#11111c, .8);
$bg-secondary: #2f2f49;
$bg-base-alpha: rgba($bg-base, .4);

$border: #111111;

$rounded-full: 9999px;
$rounded-large: 16px;
$rounded-medium: 8px;

* {
    all: unset;
    font-family: 'ubuntu nerd font';
    font-size: large;
    padding: 0;
    margin: 0;
    min-height: 0;
    min-width: 0;
}

.wallpaper {
    background-image: url('/home/winter/.config/hypr/papers/sakura.jpg');
    background-size: cover;
    background-position: center;
}

.open {
    background: $bg-base;
    border-radius: $rounded-medium;
    padding: .25em 1em;
}

.accent {
    color: $theme_selected_bg_color;
}

.accent-bg {
    background: $theme_selected_bg_color;
}

.rounded-large {
    border-radius: $rounded-large;
}

.base-bg {
    background: $bg-base;
}

.py-1 {
    padding: .25em 0;
}

.py-2 {
    padding: .5em 0;
}

.p-4 {
    padding: 1em;
}

.font-larger {
    font-size: larger;
}

.font-times {
    font-family: "good times", "ubuntu nerd font";
    font-size: medium;
}

scale highlight {
    background: $gradient;
}

scale trough {
    background-color: rgba(#bae5ec, .3);
    border-radius: 10px;
    min-height: 12px;

    highlight {
        border-radius: 10px;
    }
}

.min-w-7 {
    min-width: 1.75em;
}

.min-w-10 {
    min-width: 2.5em;
}

.min-w-12 {
    min-width: 3em;
}

.min-w-16 {
    min-width: 4em;
}

.min-h-16 {
    min-height: 4em;
}

.text {
    color: white;
}

@import "./scss/bar.scss";
@import "./scss/powermenu.scss";
@import "./scss/system-menu.scss";
@import "./scss/menu.scss";
@import "./scss/calendar.scss";
@import "./scss/mpris.scss";
@import "./scss/launcher.scss";