.bar {
    margin: 1em 2em 0;
    color: #bae5ec;

    .subbar {
        // background: $background-base;
        // padding: .25em 2em;

        label {
            font-family: "good times", "ubuntu nerd font";
            font-size: medium;
        }

        // &:first-child {
        //     border-radius: 40px 200px 40px 200px;
        // }

        // &:nth-child(2) {
        //     border-radius: 40px 40px 200px 200px;
        // }

        // &:nth-child(3) {
        //     border-radius: 200px 40px 200px 40px;
        // }
    }

    .workspaces {
        .unused {
            color: rgba(#bae5ec, .3);
        }
    }

}