.bar {
    margin: 1em 1em 0;

    .subbar {
        background: transparentize($color: $background, $amount: .2);
        padding: .25em 2em;

        &:first-child {
            border-radius: 40px 200px 40px 200px;
        }

        &:nth-child(2) {
            border-radius: 40px 40px 200px 200px;
        }

        &:nth-child(3) {
            border-radius: 200px 40px 200px 40px;
        }
    }
}