.calendar {
    @include window;
    padding: 1em;

    color: $text-base;

    calendar {

        &:selected {
            background: $bg-accent;
            border-radius: $rounded-large;

        }

        &.header {
            color: $text-muted;
        }

        &.highlight {
            background-color: transparent;
        }

        &:indeterminate {
            color: $text-inverse;
        }

        font-size: 1.3em;
        padding: .3em;
    }

}