.dashboard {
    .item {
        padding: 1em;
        margin: .5em;
        background: transparentize($color: $background-base, $amount: 0.1);
        border-radius: $rounded-large;
    }

}

.button {
    margin: 1em;

    &:hover {
        background: $background-inverse;
        color: $text-accent;
    }

    border-radius: $rounded-large;
    min-height: 5em;
    min-width: 5em;

    .icon {
        background-size: contain;
        background-repeat: no-repeat;
        margin: .5em;

        &.shutdown {
            background-image: url($icons+'shutdown.svg');
        }

        &.lock {
            background-image: url($icons+'lock.svg');
        }

        &.github {
            background-image: url($icons+'github.ico');
        }

        &.youtube {
            background-image: url($icons+'youtube.ico');
        }

        &.outlook {
            background-image: url($icons+'outlook.ico');
        }

        &.terminix {
            background-image: url($icons+'terminix.ico');
        }
    }
}