.launcher {
    margin: 1em 2em;
}

.launcher-scroll {
    min-height: 30em;
    min-width: 30em;
}


.launcher-item {
    color: $bg-accent;
    padding: 0.5em;
    border-radius: 1em;
    transition: 0.3s;
}

.launcher-item:hover {
    background-color: mix($bg-base, $bg-accent, 70%);
}


.wifi_window {
    background: $bg-window;
    color: #bae5ec;
    padding: .25em 2em;
}

// .wifi_window {
//     background-color: #1e1e2e;
//     color: #cdd6f4;
//     padding: 10px;
//     border-radius: 10px;

//     label {
//         font-family: "JetBrainsMono Nerd Font";
//         font-size: 14px;
//         padding: 5px 0;
//     }
// }