.player-wrapper {
    padding: 0 1em;
    background: $background-base;
    border: 1px solid $border;
    border-radius: $rounded-large;

    .player-info {
        padding: 1em 0;
    }

    .player {
        padding: 1em 0;
        border-top: 0.5px solid $border;

        &:first-child {
            border: none;
        }
    }
}