.power-menu {

    .powerbutton {
        background: $background-base-alpha;
        border-radius: $rounded-large;

        &:hover {
            background: $background-hover-alpha;
            color: $text-accent;
        }

        min-width: 6.5em;
        min-height: 6.5em;

        .icon {
            background-size: contain;
            margin: 24px;

            &.shutdown {
                background-image: url($icons+'/power/shutdown.svg');
            }

            &.reboot {
                background-image: url($icons+'/power/reboot.svg');
            }

            &.logout {
                background-image: url($icons+'/power/logout.svg');
            }

            &.suspend {
                background-image: url($icons+'/power/suspend.svg');
            }

            &.lock {
                background-image: url($icons+'/power/lock.svg');
            }
        }
    }
}