    .content {
        background: $background-base;
        padding: 1em 0;
        border-radius: $rounded-large;
        min-width: 33em;

        .title {
            padding-left: 1em;
            font-size: 2em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 5em center;
            background-image: url($icons+'image.svg');
        }

        .screenshotmenu {
            padding: 0.5em 6em;

            .button {
                border-radius: $rounded-large;
                background: $background-muted;
                margin: 1em;
                padding: 0 1em;

                &:hover {
                    background: $background-inverse;
                    color: $text-accent;
                }

                box {
                    background-repeat: no-repeat;
                    background-position: left center;
                    padding: 1em 2em;

                    &.region-screenshot {
                        background-image: url($icons+'region-screenshot.svg');
                    }

                    &.screenshot {
                        background-image: url($icons+'screenshot.svg');
                    }

                    &.window-screenshot {
                        background-image: url($icons+'window-screenshot.svg');
                    }

                    &.clipboard-screenshot {
                        background-image: url($icons+'clipboard-screenshot.svg');
                    }
                }
            }
        }

        .label {
            font-size: 1.8em;
        }
    }