.system {
    background: $background-base;
    border: 1px solid $text-inverse;
    border-radius: $rounded-large;
    padding: 1em;
    margin: 0 1em 0 0;

    .muted {
        background: $background-muted;
        padding: 1em;
        border-radius: $rounded-large;
    }

    .syslevels {
        padding: 1em 0;

        box {
            min-width: 4em;
            min-height: 4em;

            label {
                font-size: 1.4em;
            }
        }
    }
}

.volume {
    .sicon {
        color: #73DACA;
    }
}

.brightness {
    .sicon {
        color: #E0AF68;
    }
}

.sys .prog {

    &.cpu {
        color: #73DACA;
    }

    &.ram {
        color: #E0AF68;
    }

    &.temp {
        color: #F7768E;
    }

    &.battery {
        color: #7AA2F7;
    }

    background: $background-inverse;

    label {
        color: $text-base;
    }
}

.sysslider {


    scale trough {
        background-color: $background-inverse;
        border-radius: 10px;
        min-height: 14px;

        highlight {
            border-radius: 10px;
        }
    }
}

.volume scale trough highlight {
    background: #73DACA;
}

.brightness scale trough highlight {
    background: #E0AF68;
}

.sicon {
    min-width: 30px;
}

.brightness .sicon {
    font-size: 1.3em;
}

.pval {
    font-size: 1.4em;
}

.val {
    min-width: 55px;
}


.arrowbutton {
    background: $background-inverse;
    border-radius: $rounded-large;

    &.wifi.active {
        background: #BB9AF7;
    }

    &.blue.active {
        background: $background-accent;
    }

    &.mic.active {
        background: #F7768E;
    }

    .eventbox {

        .label {
            border-radius: 24px;
            padding: .75em .15em;
        }
    }
}

.sink {
    border-radius: $rounded-large;
    background: $background-inverse;

    label {
        padding: .5em 1em;
    }

    &.running {
        background-color: #BB9AF7;
    }
}