.tools {
    padding: 0 1em;
    background: $background-base;
    border-radius: $rounded-medium;

    .wrapper {
        border-left: .5px solid $border;
    }

    .tool {
        .network {
            color: #BB9AF7;
        }

        .volume {
            color: #73DACA;
        }

        .microphone {
            color: #F7768E;
        }

        .battery {
            color: #7AA2F7;
        }

    }

    .player {
        padding: 1em;
        border-top: 0.5px solid $border;

        &:last-child {
            border: none;
            padding-bottom: 0;
        }
    }

    .tool-section {
        border-top: .5px solid $border;
        border-right: .5px solid $border;
        border-top-right-radius: $rounded-large;
    }

    .tool-buttons {
        padding: 1em;

        &:first-child {
            border: none;
        }

        border-top: .5px solid $border;
        border-bottom: .5px solid $border;
    }
}

.volume {
    font-size: 1.2em;
}